<div class="area"></div><nav class="main-menu">
  <ul>
    <!-- Funciones de Usuario -->
    <li class="has-subnav">
      <a class="nav-link" routerLink="/hoteles-usuario">
          <i class="fa fa-user fa-2x"></i>
          <span class="nav-text">
              Usuario
          </span>
      </a>
    </li>
    <li class="has-subnav">
      <a class="nav-link " routerLink="/hoteles-usuario">
          <i class="fa fa-building-o fa-2x "></i>
          <span class="nav-text">
              Hoteles
          </span>
      </a>
    </li>
    <li class="has-subnav">
      <a class="nav-link " routerLink="/historial">
          <i class="fa fa-clock-o fa-2x "></i>
          <span class="nav-text">
              Historial
          </span>
      </a>
    </li>
    <li class="has-subnav">
      <a class="nav-link " routerLink="/reservaciones-pendientes">
          <i class="fa fa-calendar-o fa-2x"></i>
          <span class="nav-text">
              Reservaciones Por Confirmar
          </span>
      </a>
    </li>

    <!-- Funciones de Administrador Aplicacion -->
    <li class="has-subnav">
      <a class="nav-link"  routerLink="/hoteles-admin">
          <i class="fa fa-user fa-2x"></i>
          <span class="nav-text">
              Admin App
          </span>
      </a>
    </li>
    <li class="has-subnav">
      <a class="nav-link"  routerLink="/usuarios-registrados">
          <i class="fa fa-users fa-2x"></i>
          <span class="nav-text">
              Usuarios Registrados
          </span>
      </a>
    </li>
    <li class="has-subnav">
      <a class="nav-link"  routerLink="/hoteles-admin">
          <i class="fa fa-building-o fa-2x"></i>
          <span class="nav-text">
              Hoteles
          </span>
      </a>
    </li>
    <li class="has-subnav">
      <a class="nav-link"  routerLink="/habitaciones-admin">
          <i class="fa fa-sitemap fa-2x"></i>
          <span class="nav-text">
              Habitaciones
          </span>
      </a>
    </li>
    <li class="has-subnav">
      <a class="nav-link"  routerLink="/administradores">
          <i class="fa fa-desktop fa-2x"></i>
          <span class="nav-text">
              Administradores
          </span>
      </a>
    </li>

    <!-- Funciones de Administrador Hotel -->
    <li class="has-subnav">
      <a class="nav-link"  routerLink="/habitaciones-disponibles">
          <i class="fa fa-user fa-2x"></i>
          <span class="nav-text">
              Admin Hotel
          </span>
      </a>
    </li>
    <li class="has-subnav">
      <a class="nav-link"  routerLink="/reservaciones">
          <i class="fa fa-calendar fa-2x"></i>
          <span class="nav-text">
              Reservaciones
          </span>
      </a>
    </li>
    <li class="has-subnav">
      <a class="nav-link"  routerLink="/usuarios-hospedados">
          <i class="fa fa-users fa-2x"></i>
          <span class="nav-text">
              Usuarios Hospedados
          </span>
      </a>
    </li>
    <li class="has-subnav">
      <a class="nav-link"  routerLink="/habitaciones-disponibles">
          <i class="fa fa-sitemap fa-2x"></i>
          <span class="nav-text">
              Habitaciones
          </span>
      </a>
    </li>

  </ul>

  <!-- Funciones Inferiores -->
  <ul class="user">
    <li>
      <a class="nav-link " routerLink="/editar-cuenta">
        <i class="fa fa-user fa-2x"></i>
        <span class="nav-text">
          Cuenta
        </span>
      </a>
    </li>
</ul>

  <ul class="logout">
    <li>
      <a class="nav-link" routerLink="/login">
        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text">
            Cerrar Sesión
        </span>
      </a>
      </li>
  </ul>
</nav>
