<div class="area"></div><nav class="main-menu">
  <ul>
    <!-- Funciones de Usuario -->
    <li class="has-subnav" *ngIf="_UsuariosService.obtenerIdentidad().rol === 'Cliente'">
      <a class="nav-link " routerLink="/usuario/hoteles-usuario">
          <i class="fa fa-building-o fa-2x "></i>
          <span class="nav-text">
              Hoteles
          </span>
      </a>
    </li>
    <li class="has-subnav" *ngIf="_UsuariosService.obtenerIdentidad().rol === 'Cliente'">
      <a class="nav-link " routerLink="/usuario/historial">
          <i class="fa fa-clock-o fa-2x "></i>
          <span class="nav-text">
              Historial
          </span>
      </a>
    </li>
    <li class="has-subnav" *ngIf="_UsuariosService.obtenerIdentidad().rol === 'Cliente'">
      <a class="nav-link " routerLink="/usuario/reservaciones-pendientes">
          <i class="fa fa-calendar-o fa-2x"></i>
          <span class="nav-text">
              Reservaciones Por Confirmar
          </span>
      </a>
    </li>

    <!-- Funciones de Administrador Aplicacion -->
    <li class="has-subnav" *ngIf="_UsuariosService.obtenerIdentidad().rol === 'Admin_APP'">
      <a class="nav-link"  routerLink="/admin/usuarios-registrados">
          <i class="fa fa-users fa-2x"></i>
          <span class="nav-text">
              Usuarios Registrados
          </span>
      </a>
    </li>
    <li class="has-subnav" *ngIf="_UsuariosService.obtenerIdentidad().rol === 'Admin_APP'">
      <a class="nav-link"  routerLink="/admin/hoteles-admin">
          <i class="fa fa-building-o fa-2x"></i>
          <span class="nav-text">
              Hoteles
          </span>
      </a>
    </li>
    <li class="has-subnav" *ngIf="_UsuariosService.obtenerIdentidad().rol === 'Admin_APP'">
      <a class="nav-link"  routerLink="/admin/administradores">
          <i class="fa fa-desktop fa-2x"></i>
          <span class="nav-text">
              Administradores
          </span>
      </a>
    </li>

    <!-- Funciones de Administrador Hotel -->
    <li class="has-subnav" *ngIf="_UsuariosService.obtenerIdentidad().rol === 'Admin_Hotel'">
      <a class="nav-link"  routerLink="/hotel/reservaciones">
          <i class="fa fa-calendar fa-2x"></i>
          <span class="nav-text">
              Reservaciones
          </span>
      </a>
    </li>
    <li class="has-subnav" *ngIf="_UsuariosService.obtenerIdentidad().rol === 'Admin_Hotel'">
      <a class="nav-link"  routerLink="/hotel/usuarios-hospedados">
          <i class="fa fa-users fa-2x"></i>
          <span class="nav-text">
              Usuarios Hospedados
          </span>
      </a>
    </li>
    <li class="has-subnav" *ngIf="_UsuariosService.obtenerIdentidad().rol === 'Admin_Hotel'">
      <a class="nav-link"  routerLink="/hotel/habitaciones-disponibles">
          <i class="fa fa-sitemap fa-2x"></i>
          <span class="nav-text">
              Habitaciones
          </span>
      </a>
    </li>

  </ul>

  <!-- Funciones Inferiores -->
  <ul class="user">
    <li>
      <a class="nav-link " routerLink="/usuario/editar-cuenta"  *ngIf="_UsuariosService.obtenerIdentidad().rol === 'Cliente'">
        <i class="fa fa-user fa-2x"></i>
        <span class="nav-text">
          Cliente:  {{usuario}}
        </span>
      </a>
      <i class="fa fa-user fa-2x" *ngIf="_UsuariosService.obtenerIdentidad().rol === 'Admin_APP'"></i>
        <span class="nav-text" *ngIf="_UsuariosService.obtenerIdentidad().rol === 'Admin_APP'">
          Admin: {{usuario}}
        </span>
        <i class="fa fa-user fa-2x" *ngIf="_UsuariosService.obtenerIdentidad().rol === 'Admin_Hotel'"></i>
        <span class="nav-text" *ngIf="_UsuariosService.obtenerIdentidad().rol === 'Admin_Hotel'">
          Admin Hotel: {{usuario}}
        </span>
    </li>
</ul>

  <ul class="logout">
    <li>
      <a class="nav-link" (click)="logOut()" routerLink="/login">
        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text">
            Cerrar Sesión
        </span>
      </a>
      </li>
  </ul>
</nav>
