.page-header { background: url("../../../../src/assets/img/ganador.jpg"), no-repeat; position: relative; background-size: cover; }
.page-caption { padding-top: 110px; padding-bottom: 100px; }
.page-title { font-size: 120px; line-height: 1; color: #fff; font-weight: 600; text-align: center;  font-family: 'Saira Extra Condensed', sans-serif;}
