body {
  font-family: "Karla", sans-serif;
  background: linear-gradient(to bottom, rgba(49, 56, 85, 0.3) 0%, rgba(49, 56, 85, 0.3) 100%), url("../../../../src/assets/img/fondo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  min-height: 100vh;
}

.titulo-login{
  font-size: 33px;
  font-family: 'Readex Pro', sans-serif;
  text-align: center;
}


.margen{
  position: absolute;
  right: 30px;
}
