<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Template</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap" rel="stylesheet">

</head>
<body>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0 ">
    <div class="container ">
      <div class="card">
        <div class="card-body mx-4">
          <div class="container">
            <p class="my-5 mx-5 titulo-login">Facturación</p>
            <div class="row">
              <ul class="list-unstyled">
                <li class="text-black">{{usuariofacturar.nombre}}</li>
                <li class="text-muted mt-1"><span class="text-black">Factura</span> #{{numeroFactura}}</li>
                <li class="text-black mt-1">{{getformattedDate() | date: 'longDate'}}</li>
              </ul>
              <hr>
              <hr>
            </div>
            <div class="row" *ngFor="let cuenta of UsuariosModelGet">
              <div class="col-xl-10">
                <p *ngIf="cuenta.fechaFin!=null">{{cuenta.descripcion}}</p>
                <p *ngIf="cuenta.fechaFin==null">servicio - {{cuenta.descripcion}}</p>
              </div>
              <div class="col-xl-2">
                <p class="float-end">Q{{cuenta.precio | number: '1.2-2'}}
                </p>
              </div>
              <hr>
            </div>
            <div class="row text-black">

              <div class="col-xl-12">
                <p class="float-end fw-bold">Total: Q{{usuariofacturar.total | number: '1.2-2'}}
                </p>
              </div>
              <hr style="border: 2px solid black;">
            </div>


            <div class="margen">
              <button type="button" class="btn btn-info" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" routerLinkActive="active" (click)="Facturar()"
                aria-controls="offcanvasExample"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card-fill" viewBox="0 0 16 16">
                  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1H0V4zm0 3v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7H0zm3 2h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1z"/>
                </svg>
                Facturar
              </button>
            </div>


            <div class="text-center" style="margin-top: 90px;">
              <p>Al facturar el cliente vera todos los servicios adquiridos por parte del hotel. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
