<app-navbar></app-navbar>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@600&display=swap" rel="stylesheet">

<!-- page-header -->
<div class="page-header">
  <div class="container">
      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="page-caption">
                  <h1 class="page-title"><svg xmlns="http://www.w3.org/2000/svg" width="75" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                  </svg> USUARIOS REGISTRADOS</h1>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="team-boxed">
  <div class="container">
      <div class="intro">
          <h2 class="text-center">Usuarios </h2>
          <p class="text-center">Los usuarios que se han registrado en el gestor de hoteles son los que se encontraran a continuacion.</p>
      </div>
      <div class="row people">
        <div class="col-md-6 col-lg-4 item">
          <div class="box"><img class="rounded-circle" src="../../../assets/img/usuario.jpg">
            <h3 class="name">Juan Solís</h3>
            <p class="title">Usuario</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <div class="box"><img class="rounded-circle" src="../../../assets/img/usuario.jpg">
            <h3 class="name">Brandon Palma</h3>
            <p class="title">Usuario</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <div class="box"><img class="rounded-circle" src="../../../assets/img/usuario.jpg">
            <h3 class="name">Enrique Hurtarte</h3>
            <p class="title">Usuario</p>
          </div>
        </div>
      </div>
  </div>
</div>
